<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta name='robots' content='noindex,follow' />

<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
	  
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css" type="text/css" media="screen" />
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

<script type="text/javascript" src="{{site.baseurl}}/assets/js/jquery.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/testimonials.js"></script>
{% if page.url == '/' %}
<script type="text/javascript" src="{{site.baseurl}}/assets/js/jcarousellite.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/easing.js"></script>
	
<script type="text/javascript">
 $(function() {
	
    $(".sliderImages").jCarouselLite({
        btnNext: ".next",
        btnPrev: ".prev",
		visible: 1,
		easing: "easeinout",
		auto: 4000,
		speed: 1000
    });	 
});
</script>
{% endif %}	
</head>
