<div class="grid_4 omega" id="right-column">
	<div class="right-column">
		<div class="testimonial">
			<h3>
				<span>
					<img src="{{site.baseurl}}/assets/images/testimonial.png" alt="Testimonial"
					width="24" height="24" />
				</span>&nbsp;What our clients say</h3>
				<div id="testimonial" style="height:150px;"></div>
		</div>
		<hr />
		<div class="contact-info">
			<h3>
				<span>
					<img src="{{site.baseurl}}/assets/images/contact.png" alt="Contact Us Today!"
					width="24" height="24" />
				</span>&nbsp;Contact Info</h3>
			<p>Please contact us to set up your appointment today!</p>
			<p>
				<strong>574-674-0645</strong>
				<br />
				<strong>574-360-6790</strong>
				<br />
				<a href="mailto:stacy@executivegreencleaning.com">stacy@executivegreencleaning.com</a>
			</p>
		</div>
	</div>
</div>