<div class="grid_12">
	<div class="slider">
		<div class="sliderImages">
			<ul>
				<li>
					<p>
						<a><img class="alignnone size-full" title="banner_1" src="{{site.baseurl}}/assets/images/banner_1.jpg" alt="" width="920" height="268" /></a>
					</p>
				</li>
				<li>
					<p>
						<a><img class="alignnone size-full" title="banner_2" src="{{site.baseurl}}/assets/images/banner_2.jpg" alt="" width="920" height="268" /></a>
					</p>
				</li>
				<li>
					<p>
						<a"><img class="alignnone size-full" title="banner_3" src="{{site.baseurl}}/assets/images/banner_3.jpg" alt="" width="920" height="268" /></a>
					</p>
				</li>
			</ul>
		</div>
	</div>
</div>