<!DOCTYPE html>
<html>
	{% include head.html %}
{% if page.url == '/' %}
	{% assign body = 'home'  %}
	{% assign middle = 'middle-home'  %}
{% else %}
	{% assign body = "inner"  %}
	{% assign middle = "middle"  %}
{% endif %}	
	<body class="{{body}}">

		<div class="container_12">
			{% include menu.html %}
{% if page.url == '/' %}
			{% include slider.html %}
{% endif %}	
			<div class="grid_12" id="{{middle}}">
				{{ content }}
				{% include sidebar.html %}
			</div>
			<div class="clear">&nbsp;</div>

		</div>
		{% include footer.html %}
	</body>

</html>